
.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}



.burger{
    display: none;
}
.second{
    display: none;
}


/* CSS for mobile phones */
@media (max-width: 767px) {
   
    
      nav > .links{
        display: none;

      }

      .navDiv{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1 !important;
        transform: translateY(-300%);
        transition: 500ms ease-in-out;
        position: absolute;
        display: block !important ;
      
        
      }
      input.mobile[type="checkbox"]:checked ~  .navDiv{
        transform: translateY(0);
        z-index: 9999 !important;
        
      
       
      }

      .navDiv > ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row nowrap;
        background-color: #9b8eff;
        border-radius: 0 0 5px 5px;
        padding: 5px 0;
        
      }
      .navDiv > ul >li{
        width: 19%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 600ms ease-in-out;
        
        
      }
      .navDiv > ul > li >a{
        font-size: 10px;
        color: blanchedalmond;
        font-weight: bolder;
        width: 70%;
      }

      .navDiv > ul >li:hover  {
        transform: scale(1.3);
       
        
      }



      .burger{
        display: block;
    }

    .first >h3{
        font-size: 15px !important;
    }

    .homeInfo{
        font-weight: bold;
        font-size:30px !important;
        text-align: center;
    
    
    }


    
.Register{
    display: none !important;
   
    
}

.secondBtn{
    display: block !important;
    width: 100px !important;
    height: 30px !important;
    border-radius: 7px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    font-size: 15px !important;
    font-weight: bolder !important;
    
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navDivBtn{
    width: 7rem !important;
    height: 2rem !important;
    border: #6f4aff 2px solid;
    font-weight: bold;
    font-size: 13px !important;
    
    border-radius: 3px;


}

.dropdown-menu{
    border-radius: 15px;
    background-color: #6f4aff;
  
}
.dropdown-item{
    text-align: justify;
    font-weight: bolder;
    color: white;
    font-size: 10px;
}


      

  }
  
  /* CSS for tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    .first{
        display: none;
  }

  .second{
    display: block;
}

.burger{
    display: none;
}

.homeInfo{
    font-weight: bold;
    font-size:60px !important;
   
    text-align: center;


}

.navDivBtn{
    width: 7rem;
    height: 2rem;
    border: #6f4aff 2px solid;
    font-weight: bold;
    transition: 600ms ease-in-out;
    border-radius: 10px;


}



.Register{
    display: none !important;
   
    
}

.secondBtn{
    display: block !important;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}






}

 
nav{
    background-color: white;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9999;
}



.landing{
    height:80vh;
}

.landing > div{
    height: 100%;
}

.navDiv-link{
    color:black;
    font-weight: bolder;
}
.homeInfo{
    font-weight: bolder;
    font-size: 70px;

}

.beginText{
    color:#9b8eff;
}
.Register, .secondBtn{
    background-image: -webkit-linear-gradient(218deg,#6f4aff 60%,#9b8eff 40%);
    color: white;
    font-weight: bolder;
    height: 10vh;
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: 600ms ease-in-out;
    cursor: pointer;
    border: none;
    
}

.secondBtn{
    display: none;
}


.Register:focus,.secondBtn:focus{
    outline: none;
    border: none;
}
.Register:hover,.secondBtn:hover{
    transform: scale(0.9);
}

.navDivBtn{
    width: 10rem;
    height: 3rem;
    border: #6f4aff 2px solid;
    font-weight: bold;
    transition: 600ms ease-in-out;
    border-radius: 10px;


}

.navDiv{
    display: none;
}

.navBtn{
    border: #6f4aff 3px solid;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: 700ms ease-in-out;

}

.navBtn:hover{
    background-color: #6f4aff;
    color:aliceblue;
    font-weight: bold;
}
.dropdown-menu{
    border-radius: 15px;
    background-color: white;
  
}
.dropdown-item{
    text-align: justify;
    font-weight: bolder;
    color: #6f4aff;
}

.smallerText{
    
  
    text-align: left;
    color: #6f4aff;
    font-weight: bolder;
    line-height: 40px;
    font-size: 20px;
}
.specialText{
color: yellow;
font-size: 30px;
font-weight: bolder;
text-shadow: 2px 2px 4px rgba(111, 74, 255, 0.5);



}
.callToAction{
    color: black;
    font-weight: bolder;
    font-size: 40px;
}



