@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
.first,.second{
    font-family: 'Karantina' !important;
    color:black;
}
.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}


#blurred{
    transition: 1200ms ease-in-out;
}





.burger{
    display: none;
}
.second{
    display: none;
}




 
nav{
    background-color: white;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 9999;
}

.nav-link{
    color:black !important;
}



.landing{
    height:80vh;
    position: relative;
}

.landing > div{
    height: 100%;
}

.navDiv-link{
    color:#AB7BD0;
    font-weight: bolder;
}
.homeInfo{
    font-weight: bolder;
    font-size: 70px;

}

.beginText{
    color:#AB7BD0;
}
.Register,.formBtn{
    background-image: -webkit-linear-gradient(218deg,#715AB4 55%,#9747ff 45%);
    color: white;
    font-weight: bolder;
    height: 70px;
    width: 200px;
    border-radius: 5px;
    margin: 0 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: 600ms ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}

.secondBtn{
    display: none;
}


.Register:focus,.secondBtn:focus{
    outline: none;
    border: none;
}
.Register:hover,.secondBtn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navDivBtn{
    width: 10rem;
    height: 3rem;
    border:#AB7BD0 2px solid;
    font-weight: bold;
    transition: 600ms ease-in-out;
    border-radius: 10px;


}

.navDiv{
    display: none;
}

.navBtn{
    border: #AB7BD0 3px solid;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: 700ms ease-in-out;

}

.navBtn:hover{
    background-color: #6f4aff;
    color:aliceblue;
    font-weight: bold;
}
.dropdown-menu{
    border-radius: 15px;
    background-color: white;
  
}
.dropdown-item{
    text-align: justify;
    font-weight: bolder;
    color: #6f4aff;
}

.smallerText{
    
  
    text-align: left;
    color:#AB7BD0;
    font-weight: bolder;
    line-height: 40px;
    font-size: 20px;
}
.specialText{
color: black;
width: 10vw;
height: 5vh;
font-size: 30px;
font-weight: bolder;
text-shadow: 2px 2px 4px rgba(111, 74, 255, 0.5);



}
.callToAction{
    color: black;
    font-weight: bolder;
    font-size: 40px;
}


/*modal style*/

.Usermodal{
    position:absolute;
    background-color:white;
    padding: 15px;
    /* border: black solid 3px; */
    width: 80vw;
    height: 80vh;
    top: 15vh;
    left: 10vw;
    border-radius: 15px;
    transition: 1000ms ease-in;
    display: flex;
    flex-flow: column nowrap;
    
    
    
    align-items: center;
    transform: translate(-120%,-120%);
   
}



.Usermodal form{
  height: 100%;
  overflow-y: scroll;
 
}


.glass-effect {
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color with transparency */
    backdrop-filter: blur(70px); /* Apply a blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    opacity: 0.99; /* Adjust the overall opacity */
    /* Add any other styles you want for the div */
  }

  
.glass-effect form {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the opacity as needed */
    
  }
  
  .glass-effect form input,
  .glass-effect form select,
  .glass-effect form textarea {
    background-color: rgb(255, 255, 255); /* Set the background color to fully opaque */
    border: #715AB4 solid 2px;
  }

  input#modal[type="checkbox"]:checked ~ .Usermodal{
    transform: translate(0);
  }

  div.blur{
    filter: blur(15px);
  }


  .centered-label{
    background-image: -webkit-linear-gradient(218deg,#715AB4 55%,#9747ff 45%);
    color: white;
    font-weight: bolder;
    display: none !important;
    height: 70px;
    width: 200px;
    border-radius: 5px;
    margin: 0 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: 600ms ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .has-error{
    border: solid red 3px;
  }










